.root {
    border: 0;
    border-radius: 0;
    background: transparent;
    text-align: center;
}

.root:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(14, 36, 52, 0.3) inset;
    -moz-box-shadow: 0px 0px 20px -5px rgba(14, 36, 52, 0.3) inset;
    box-shadow: 0px 0px 20px -5px rgba(14, 36, 52, 0.3) inset;
}

.active {
    text-decoration: underline;
    background-color: #bdea9d;
}

.shape__circle {
    border-radius: 50%;
}

.shape__superellipse {
    border-radius: 25%;
}

.fontSize__s {
    font-size: 14px;
}

.fontSize__l {
    font-size: 24px;
}

.fullSize {
    height: 100%;
    width: 100%;
}

.primary {
    width: auto;
    height: 32px;
    border: solid 2px #1d3301;
    background-color: #fbe89a;
}

.primary:hover {
    background-color: #f5d170;
}

.secondary {
    background-color: #37616D;
    padding: 0;
    width: 24px;
    height: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.close {
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 32px;
}

.close:after {
    content: "\00d7";
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.dark {
    background-color: #20106b;
    color: #fff;
}

.dark:hover {
    background-color: #8caec9;
    color: #20106b;
}
